#eyes{
    width: 50%;
    position: absolute;
    left: 675px;
    top: 230px;
    transform: translateY(5%);
}

#eye{
    background-color: white;
    border: 4px solid black;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: relative;
    display: inline-block;
    margin: 17px;
    overflow: hidden;
}

.ball{
    background-color: rgba(0, 0, 0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
}